* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.videos {
  display: flex;
  flex-wrap: wrap;
}

video {
  width: 50%;
  height: 400px;
  background-color: black;
  border: 1px solid #ccc;
}
